.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  min-height: 70px;
  padding: 20px 16px;
  max-width: 320px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .header {
    max-width: 768px;
    padding: 20px 72px;
  }
}

@media screen and (min-width: 1280px) {
  .header {
    max-width: 1280px;
    padding: 20px 120px;
  }
}

.burgerButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
