.contactInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  gap: 10px;
}

.contactText {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  gap: 10px;
}

.contactActions {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.editButton {
  padding: 10px 20px;
  background-color: #645d4f;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.deleteButton {
  padding: 10px 20px;
  background-color: #38332d;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}
